/* Sidebar.css */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100vh;
  background: linear-gradient(180deg, #004c35, #007b58);
  color: #F0F7ED;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 15px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  font-family: "Poppins";
  transition: all 0.3s ease;
}

/* Logo Section */
.logo_section {
  text-align: center;
  margin-bottom: 40px;
}
.logo_section .logo{
  background-color: #fff;
  border-radius: 50%;
  width: 86px;            /* Circle width */
  height: 86px;           /* Circle height (equal for perfect circle) */
  margin: 10px auto 10px auto; /* Center horizontally */
  display: flex;
  align-items: center;
  justify-content: center; /* Centers the image perfectly */
  overflow: hidden;         /* Ensures image stays within circle */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.logo_section .logo img {
   width: 75px;             /* Fill the circle */
  height: 75px;
  object-fit: cover;       /* Keeps proportions clean */
  border-radius: 50%;  
    transform: translateY(1px);
     /* transform: translateX(-3px);  */
}

.logo_section h2 {
  padding-top: 5px;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Manrope", sans-serif;
}

/* Sidebar Links */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar ul li {
  margin: 14px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #F0F7ED;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Hover effect */
.sidebar ul li a:hover {
  background: #e8f5ee;
  color: #004c35;
  transform: translateX(6px);
}

.sidebar ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #38a169;
  transition: 0.3s ease;
  border-radius: 0 6px 6px 0;
}

.sidebar ul li a:hover::before {
  width: 4px;
}

/* Logout section */
.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #F0F7ED;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: auto;
  transition: all 0.3s ease;
}

.logout:hover {
  background: #F0F7ED;
  color: #004c35;
  transform: translateX(5px);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .sidebar {
    width: 180px;
    padding: 20px 10px;
  }

  .logo_section img {
    width: 70px;
  }

  .logo_section h2 {
    font-size: 1.2rem;
  }

  .sidebar ul li a {
    font-size: 0.9rem;
  }
}
