* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.login_page{
    height: 100vh;
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Assets/Login_bg_green.png");
  /* background-color:#fefefe ; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  overflow: hidden; /* only affects login */
}

.container{
display: flex;
flex-direction: column;
margin:auto;
margin-top:90px;
background: #fefefe;
padding-bottom:50px;
padding-bottom: 30px;
width: 1050px;
height: 650px;
box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.41);
border-radius: 3px;
}
.header{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:7px;
    width:100%;
    margin-top:20px;
}
.text{
  
    color:#4D685A;
    font-size: 48px;
    font-weight: 700;
     position: relative;
     top: -10px;
     left: -30px;
}
.front{
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-left: 20px;
    position:absolute;
}
.front p{
    color:red;
    margin-top: 40px;
    text-align: center;
}
.form_layout{
position: absolute;
width: 440px;
height: 500px;
left: 55px;
top: 70px;
background:#fefefe;
border: none;
border-radius: 4px;

}
.input_img {
  display: flex;
  align-items: center;
  justify-content: center;

  top:70px;
  
  padding-left: 580px;
  
}

.lock_img img {
  width: 450px;
  height: 650px;
  position: relative;
  top: -25px; 
  
}
.inputs{
    /* margin-top:15px; */
    display:flex;
    flex-direction: column;
    gap:50px;
    margin-top: 20px;
}

.input{
    display: flex;
    align-items: center;
    margin:auto;
    width: 370px;
    height: 80px;
    background:rgba(0, 0, 0, 0.1);
    border-radius: 6px;
     margin-bottom: 25px;
}
.input img{
    margin: 0px 30px;
    
}

.input input{
    height: 50px;
    width:400px;
    background: transparent;
    border:none;
    outline:none;
    color:#797979;
    font-size:19px;
    padding: 10px;
}
.forgot-password{
    padding-left: 22px;
    margin-top:27px;
    font-size:18px;
    color:#797979;
}
.forgot-password span{
    color: #4c004c;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap:100px;
    margin: 0px  auto;
    padding-left: 35px;
}
.submit{
    
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 60px;
    width:370px;
    color:#fefefe;
    background: #4D685A;
    border-radius:6px;
    font-size:22px;
    font-weight: 700;
    cursor:pointer;
    border: none;
}